@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px;
}

body {
    background: #eff3f8;
    padding: 1rem;
}

.card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

html.dark body {
    background: #040d19;
}

html.dark .card {
    background: #071426;
}

.primary-background {
    background-color: #0569A4;
}

.bricks-input:focus-within {
    border: 1px solid #0569A4 !important;
    box-shadow: 0 0 0 2px #C9E2FF !important;
}